.login-page {

  position: relative;
  top: 150px;

  .login-card {

    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #f5f8fa;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

    .login-logo {
      position: absolute;
      height: 170px;
      width: 170px;
      top: -75px;
      border-radius: 50%;
      background: #186de7;
      padding: 10px;
      text-align: center;

      .logo {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid white;
      }

    }
    .login-container {
      padding: 0 2rem;

      .input-group {
        margin-bottom: 1rem !important;

        .input-group-text {
          background: #186de7;
          color: #fff;
          border: 0;
          border-radius: 0.25rem 0 0 0.25rem;
        }

        .login-input {
          width: 230px !important;
        }

      }
      .login-button {
        width: 100%;
        background: #186de7;
        color: #fff;
      }
    }
  }
}