.rs-navbar {

  background-color: #186de7;

  .navbar-brand {
    color: #fff;

    &:hover {
      color: #e3e3e3;
    }
  }

  .navbar-bg {
    background-color: #186de7;
  }

  .navbar-nav {

    .dropdown-menu {
      background-color: #186de7;
      border: unset;

      a {
        color: #fff;

        &:hover {
          background-color: #2679f1;
        }
      }
    }

    .nav-item {
      .nav-link {
        color: #fff;

        &:hover {
          color: #e3e3e3;
        }
      }
    }
  }

}