.rs-navbar {

  background-color: #186de7;

  .navbar-brand {
    color: #fff;
  }

  .navbar-bg {
    background-color: #186de7;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: #fff;
      }
    }
  }

}